%h2 Forgot your password?
= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :autocomplete => "off", :class => "sign-form"}) do |f|
  = devise_error_messages!
  %p
    = f.label :email
    = f.email_field :email
  %p= f.submit "send password", :class=>"btn small red"
