#footer 
  .main
    = render :partial => "application/search_form"  
    %div{ :class => "copyright" }
      copyright © 2011, GripeBox.com, LLC. all rights reserved
    %ul{ :class => "footer-menu" }
      %li
        = link_to 'About', root_path
        &#183;
      %li
        = link_to 'Privacy & Terms', root_path
        &#183;
      %li
        = link_to 'Contact Us', root_path
        &#183;
      %li
        = link_to 'Link', root_path
    .clear