- if (params[:action] != 'new') && (params[:action] != 'edit')
  .topic-search
  = render :partial => "application/widget_filter_tags"
  = render :partial => "application/widget_filter_power"
  = render :partial => "application/widget_filter_media"
  = render :partial => "application/widget_filter_sort", :locals => { :gripe => "user" }
- else 
  %h2 Buzz.
  = render :partial => "application/widget_top10_griped"
  /= render :partial => "application/widget_poll_box"    

/ /* OpenX iFrame Tag v2.8.6-rc2 */
%iframe#a025d55a{:frameborder => "0", :height => "150", :name => "a025d55a", :scrolling => "no", :src => "http://d1.openx.org/afr.php?zoneid=248303&cb=INSERT_RANDOM_NUMBER_HERE", :width => "180"}
  %a{:href => "http://d1.openx.org/ck.php?n=a7c3c963&cb=INSERT_RANDOM_NUMBER_HERE", :target => "_blank"}
    %img{:alt => "", :border => "0", :src => "http://d1.openx.org/avw.php?zoneid=248303&cb=INSERT_RANDOM_NUMBER_HERE&n=a7c3c963"}/  


/ /* OpenX iFrame Tag v2.8.6-rc2 */
%iframe#aa24c750{:frameborder => "0", :height => "150", :name => "aa24c750", :scrolling => "no", :src => "http://d1.openx.org/afr.php?zoneid=248317&cb=INSERT_RANDOM_NUMBER_HERE", :width => "180"}
  %a{:href => "http://d1.openx.org/ck.php?n=a3881e21&cb=INSERT_RANDOM_NUMBER_HERE", :target => "_blank"}
    %img{:alt => "", :border => "0", :src => "http://d1.openx.org/avw.php?zoneid=248317&cb=INSERT_RANDOM_NUMBER_HERE&n=a3881e21"}/


/ /* OpenX iFrame Tag v2.8.6-rc2 */
%iframe#ae4526b7{:frameborder => "0", :height => "150", :name => "ae4526b7", :scrolling => "no", :src => "http://d1.openx.org/afr.php?zoneid=248315&cb=INSERT_RANDOM_NUMBER_HERE", :width => "180"}
  %a{:href => "http://d1.openx.org/ck.php?n=ac68c0dd&cb=INSERT_RANDOM_NUMBER_HERE", :target => "_blank"}
    %img{:alt => "", :border => "0", :src => "http://d1.openx.org/avw.php?zoneid=248315&cb=INSERT_RANDOM_NUMBER_HERE&n=ac68c0dd"}/

/ /* OpenX iFrame Tag v2.8.6-rc2 */
%iframe#ade2874b{:frameborder => "0", :height => "600", :name => "ade2874b", :scrolling => "no", :src => "http://d1.openx.org/afr.php?zoneid=248833&cb=INSERT_RANDOM_NUMBER_HERE", :width => "160"}
  %a{:href => "http://d1.openx.org/ck.php?n=aac77871&cb=INSERT_RANDOM_NUMBER_HERE", :target => "_blank"}
    %img{:alt => "", :border => "0", :src => "http://d1.openx.org/avw.php?zoneid=248833&cb=INSERT_RANDOM_NUMBER_HERE&n=aac77871"}/




  