!!!
%html
  %head
    %title 
      = page_title
    == <meta name="description" content="#{page_meta_description}" />
    == <meta name="keywords" content="#{page_meta_keywords}" />
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield :scripts
    == <link rel="shortcut icon" href="/favicon.ico" />
  %body
    #wrapper
      = render :partial => "application/header"
      = render :partial => "application/alerts"  
      #container{:style => "background-color:#{background_color}"}
        - footer_image = FooterImage.where(:display_on => true).order(:created_at).last
        .main{ :style => footer_image.present? ? "padding-bottom: 200px; background: url(#{footer_image.image(:original)}) no-repeat center bottom;background-color:white;" : "background-color:white;" }
          #left
            = render :partial => "left_column"
          #center
            = yield
          #right  
            = render :partial => "right_column"
          .clear  
      .clear     
      #spacer
    = render :partial => "application/footer"
    = render :partial => "application/popup"
    %script{:type => "text/javascript", :src => "http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4ea19fa823bbfeaf"}    